.App {
	text-align: center;
	margin-top: 50px;
}

.card-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 10px;
	margin-top: 20px;
	justify-items: center;
}

.card {
	width: 100px;
	height: 150px;
	perspective: 1000px;
	cursor: pointer;
}

.card-inner {
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	transition: transform 0.5s;
}

.card.flipped .card-inner {
	transform: rotateY(180deg);
}

.card-front,
.card-back {
	width: 100%;
	height: 100%;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	backface-visibility: hidden;
	border: 1px solid #ccc;
	border-radius: 8px;
	font-size: 24px;
	font-weight: bold;
}

.card-front {
	background-color: #f0f0f0;
}

.card-back {
	background-color: #fff;
	transform: rotateY(180deg);
}

.card img {
	height: 100%;
	border-radius: 6px;
	object-fit: cover;
	overflow: hidden;
}

.score-card {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 20px;
}

.score-item {
	display: flex;
	align-items: center;
	font-size: 18px;
}

.success {
	color: green;
}

.error {
	color: red;
}

.username-input {
	margin: 20px 0;
}

.username-input input {
	width: 100%;
	padding: 5px;
	font-size: 16px;
}

.congratulations {
	font-size: 24px;
	text-align: center;
	margin-top: 20px;
}
